{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <h1 class="text-center logo my-4">
      <a href="#">Sign Up</a>
    </h1>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="card" style="background-color: rgb(234, 206, 241);  color: black;">
          <div class="card-body">
            
            <form action="" method="POST" enctype="multipart/form-data" novalidate>
              {% csrf_token %}
              
              <div class="form-row">
                
                <div class="form-group col-md-9 mb-0 mx-2">
                    {{ form.first_name|as_crispy_field }}
                  
                  </div>
                  <div class="form-group col-md-9 mb-0 mx-2">
                    {{ form.last_name|as_crispy_field }}
                  
                  </div>
                  <div class="form-group col-md-9 mb-0 mx-2">
                    {{ form.email|as_crispy_field }}
                  
                  </div>
                  <div class="form-group col-md-9 mb-0 mx-2">
                    {{ form.password1|as_crispy_field }}
                  
                  </div>
                  <div class="form-group col-md-9 mb-0 mx-2">
                    {{ form.password2|as_crispy_field }}
                  
                  </div>
                  <div class="form-group col-md-9 mb-0 mx-2">
                    {{ form.image|as_crispy_field }}
                  
                  </div>
            </div>
            <br>
              <button type="submit" class="btn btn-primary  mx-2">Sign UP</button>
            
            </form>
          </div>
          <div class="card-footer text text-center">
            <small> Already Have account?</small> <a href="{% url 'login' %}">Login</a>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}

{% block searchere %}
    <input type="hidden">                        
{% endblock %}

{% block navv %}
{% for i in category %}
    <a class="dropdown-item" href="{% url 'category' i.id %}">{{i}}</a>
{% endfor %}
    
{% endblock %}